@import '../../../../theme';

.tab {
    color: white;
    border-radius: 2px;
    &:hover {
        background-color: mat-color($mat-app-accent, 500);
    }
    margin: 0 40px 0 0;
    padding: 0 5px;
    cursor: pointer;
}
.icon-notif {
    background-color: mat-color($mat-app-accent, 500);
    width: 24px;
    height: 24px;
    margin: 0 20px 0 0;
}