<div fxLayout="column" class="left-bar">
  <div fxLayout="row" class="search">
    <div fxFlex=70 fxLayout="row" fxLayoutAlign="start center" class="search-text">
      <mat-icon>search</mat-icon>
      when:today
    </div>
    <div fxFlex=30 fxLayout="row" fxLayoutAlign="end center">
      <mat-icon>add_comment</mat-icon>
    </div>
  </div>
  <div class="divider"></div>
  <div fxLayout="row" fxLayoutAlign="start center" class="search">
    <span style="margin:0 0 0 8px">Recent</span>
    <span fxLayoutAlign="center center">
      <mat-icon>expand_more</mat-icon>
    </span>
  </div>
  <div class="divider"></div>
  <div *ngFor="let post of posts">
    <app-leftbar-post [post]="post" style="margin:32px 12px;"></app-leftbar-post>
    <div class="divider"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="search">
    <span style="margin:0 0 0 8px">Unpublished</span>
    <span fxLayoutAlign="center center">
      <mat-icon>expand_more</mat-icon>
    </span>
  </div>
  <div class="divider"></div>
  <div *ngFor="let post of unpublished">
    <app-leftbar-post [post]="post" style="margin:32px 12px;"></app-leftbar-post>
    <div class="divider"></div>
  </div>
</div>
